{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block titre_page %}Déposer un avis{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header text-center bg-2">
                <h2 class="text-white">{% if edit == true %}
                        Modifier un avis
                    {% else %}
                        Déposer un avis
                    {% endif %}

                </h2>
            </div>
            <div class="body">
                {{ form_start(form) }}
                {{ form_row(form.title, {'label': 'Titre de l\'avis'}) }}
                {{ form_row(form.course, {'label': 'Nom du Cours'}) }}

                <div class="petit-gris">
                    Note globale *
                </div>
                <div class="text-center">
                    {{ form_row(form.overall) }}
                </div>

                <div class="petit-gris">
                    Facile à valider *
                </div>
                <div class="text-center">
                    {{ form_row(form.facility) }}
                </div>

                <div class="petit-gris">
                    Intérêt *
                </div>
                <div class="text-center">
                    {{ form_row(form.interest) }}
                </div>
                <div class="petit-gris">
                    Avis *
                </div>
                {{ form_row(form.comment, {'placeholder': 'Avis'}) }}
                <button type="submit" class="btn bg-1 text-white center-block">
                    {% if edit == true %}
                        Modifier
                    {% else %}
                        Déposer
                    {% endif %}
                </button>
                <h5 class="text-center m-b--10">
                    {% if edit == true %}
                        Attention, après modification l'avis sera de nouveau soumis à la modération !
                    {% else %}
                        Attention, avant d'être publié ton avis sera soumis à la modération !
                    {% endif %}
                </h5>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}