{% extends 'base.html.twig' %}

{% block titre_page %}Accueil{% endblock %}

{% block content %}
    <h1 class="text-center margin_title_fb">Bienvenue sur le site des Feedback !</h1>

    <div class="col-md-7">
        <div class="card">
            <div class="header header_home bg-2">
                <h4 class="text-white">Derniers feedbacks ajoutés</h4>
            </div>
            {% for feedback in feedbacks %}
                <li class="list-group-item">
                    <div class="fb_title row">
                        <div class="col-md-6">
                            <h5>{{ feedback.title }}</h5>
                        </div>
                        <div class="col-md-6 align-right margin_title">
                            Cours: <a href="{{ path('course_show', {course_id: feedback.course.id}) }}">{{ feedback.course.name }}</a>
                        </div>
                    </div>

                    <p>{{ feedback.comment }}</p>
                    NOTE GLOBALE :
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0"
                             aria-valuemax="5" aria-valuenow="{{ feedback.overall }}" style="width: {% if feedback.overall==0 %}5%{% else %}
                                     {{ 20*feedback.overall }}%{% endif %};
                                background-color:{% if feedback.overall==5 %}#4CAF50{% elseif feedback.overall==4 %}#8BC34A;
                                {% elseif feedback.overall==3 %}#FFC107{% elseif feedback.overall==2 %}#FF9800{% elseif feedback.overall==1 %}#FF5722
                                {% else %}#F44336{% endif %}">
                            {{ feedback.overall }}/5
                        </div>
                    </div>

                    FACILE A VALIDER :
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0"
                             aria-valuemax="5" aria-valuenow="{{ feedback.facility }}" style="width: {% if feedback.facility==0 %}5%{% else %}
                                     {{ 20*feedback.facility }}%{% endif %};
                                background-color:{% if feedback.facility==0 %}#F44336{% elseif feedback.facility==1 %}#FF5722;
                                {% elseif feedback.facility==2 %}#FF9800{% elseif feedback.facility==3 %}#FFC107{% elseif feedback.facility==4 %}#8BC34A
                                {% else %}#4CAF50{% endif %}">
                            {{ feedback.facility }}/5
                        </div>
                    </div>

                    INTERET :
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0"
                             aria-valuemax="5" aria-valuenow="{{ feedback.interest }}" style="width: {% if feedback.interest==0 %}5%{% else %}
                                     {{ 20*feedback.interest }}%{% endif %};
                                background-color:{% if feedback.interest==5 %}#4CAF50{% elseif feedback.interest==4 %}#8BC34A;
                                {% elseif feedback.interest==3 %}#FFC107{% elseif feedback.interest==2 %}#FF9800{% elseif feedback.interest==1 %}#FF5722
                                {% else %}#F44336{% endif %}">
                            {{ feedback.interest }}/5
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <span class="toutpetit">Publié le : {{ feedback.createdAt|date("d/m/Y") }} par {{ feedback.author.firstName }}
                                {{ feedback.author.lastName }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-5 col-md-offset-0">
        <div class="info-box bg-4 hover-expand-effect">
            <div class="icon">
                <i class="material-icons">book</i>
            </div>
            <div class="content">
                <div class="text">Avis publiés</div>
                <div class="number">{{ fb_online }}</div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
    <div class="card">
        <div class="header header_home bg-2">
            <h4 class="text-white">Les meilleurs cours</h4>
        </div>
        <div class="list-group">
            {% for course in courses %}
                <li class="list-group-item">
                    <a href="{{ path('course_show', {course_id: course.id}) }}">{{ course.name }}</a>
                    <span class="badge bg-4">{{ course.1|number_format(2) }} / 5</span>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}