{% extends 'base.html.twig' %}

{% block titre_page %}{{ course.getName }}{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header text-center bg-orange">
                <h2 class="course_title"><b> {{ course.getName }}</b></h2>
            </div>
            <div class="body">
                {% for feedback in feedbacks %}
                    {% if feedback.valid == true %}    {# peut etre pas le plus sûre, les commentaires non valide font partie de la requête#}
                        <div class="card">
                            <li class="list-group-item">
                                <h5 class="fb_title">{{ feedback.title }}</h5>
                                <p>{{ feedback.comment }}</p>
                                NOTE GLOBALE :
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="{{ feedback.overall }}" style="width: {% if feedback.overall==0 %}5%{% else %}
                                         {{ 20*feedback.overall }}%{% endif %};
                                            background-color:{% if feedback.overall==5 %}#4CAF50{% elseif feedback.overall==4 %}#8BC34A;
                                            {% elseif feedback.overall==3 %}#FFC107{% elseif feedback.overall==2 %}#FF9800{% elseif feedback.overall==1 %}#FF5722
                                            {% else %}#F44336{% endif %}">
                                        {{ feedback.overall }}/5
                                    </div>
                                </div>

                                FACILITE :
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="{{ feedback.facility }}" style="width: {% if feedback.facility==0 %}5%{% else %}
                                         {{ 20*feedback.facility }}%{% endif %};
                                            background-color:{% if feedback.facility==0 %}#F44336{% elseif feedback.facility==1 %}#FF5722;
                                            {% elseif feedback.facility==2 %}#FF9800{% elseif feedback.facility==3 %}#FFC107{% elseif feedback.facility==4 %}#8BC34A
                                            {% else %}#4CAF50{% endif %}">
                                        {{ feedback.facility }}/5
                                    </div>
                                </div>

                                INTERET :
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0"
                                         aria-valuemax="5" aria-valuenow="{{ feedback.interest }}" style="width: {% if feedback.interest==0 %}5%{% else %}
                                         {{ 20*feedback.interest }}%{% endif %};
                                            background-color:{% if feedback.interest==5 %}#4CAF50{% elseif feedback.interest==4 %}#8BC34A;
                                            {% elseif feedback.interest==3 %}#FFC107{% elseif feedback.interest==2 %}#FF9800{% elseif feedback.interest==1 %}#FF5722
                                            {% else %}#F44336{% endif %}">
                                        {{ feedback.interest }}/5
                                    </div>
                                </div>
                            </li>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}